<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<div class="row">
  <div class="col-6">
    <h1>All Students <%= students.length %></h1>
    <p><%= user.email %></p>
  </div>
  <div class="col-6 d-flex justify-content-end align-items-center">
    <a href="/students/create" class="btn btn-danger me-4">New</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% students.forEach(student=> { %>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.email %></td>
            <td>
              <a
                href="/students/show/<%= student.student_id %>"
                class="btn btn-primary"
                >Profile</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%-include('../partials/bottom') %>
