<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1><%= student.first_name %> profile</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <div class="row alert alert-info">
        <h3><%= student.first_name %> <%= student.last_name %></h3>
      </div>
      <div class="row alert alert-info">
        <h6><%= student.email %></h6>
      </div>
      <div class="row alert alert-warning">
        <div class="row alert alert-warning">
          <% for( let i=0; i < enrollments.length; i++ ) { %>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <p><%= enrollments[i].title %></p>
              </div>
            </div>
          </div>

          <% } %>
        </div>
      </div>

      <div class="row alert alert-secondary">
        <button class="btn btn-outline-success form-control">
          Node 100 10/10/20
        </button>
      </div>
      <div class="row">
        <div class="col-6 alert alert-info">
          <% if (unenrolledCourses.length > 0) { %>

          <form action="/enrollments/store" method="post">
            <select name="course_id" class="form-control">
              <% for( let i=0; i < unenrolledCourses.length; i++ ) { %>
              <option value="<%= unenrolledCourses[i].course_id %>">
                <%= unenrolledCourses[i].title %>
              </option>
              <% } %></select
            ><br />
            <input
              type="hidden"
              value="<%= student.student_id %>"
              name="student_id"
            />
            <button class="btn btn-sm btn-danger">Add Enrollment</button>
          </form>
          <% } %>
          <h4>No courses to enrolle</h4>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
</div>

<%-include('../partials/bottom') %>
