<div class="row">
  <h1 class="display-4">Accounts</h1>
  <div class="col-10 offset-1">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Deposit</th>
          <th>Credit Card</th>
          <th>Profile</th>
        </tr>
      </thead>
      <tbody>
        <% for( let i = 0; i < accounts.length; i++ ) { %>
        <tr>
          <td><%= accounts[i].firstName %></td>
          <td><%= accounts[i].lastName %></td>
          <td><%= accounts[i].deposit %></td>
          <td><%= accounts[i].creditCard %></td>
          <td>
            <a href="/profile/<%= accounts[i].id %>" class="btn btn-primary"
              >Profile</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
